<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
      <button type="button" class="btn btn-success"
      (click)="onAllumerTout()" [disabled]="!isAuth">
        Tout Allumer
      </button>
      <button type="button" class="btn btn-danger"
      (click)="onEteintTout()" [disabled]="!isAuth">
        Tout Eteindre
      </button>
    </div>
  </div>
</div>
